* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    color: #333;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
	  background-color: #F3F5FC;
    
  }
  
  main {
    flex: 1 0 auto;
  }

  main {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .btn-iniciar-juego {
    /* Button ppal */

    display: block;

    width: 317px;
    height: 114px;

    /* Dark blue/dark-blue-300 */
    background: #0A3871;
    border-radius: 24px;

    margin-bottom: 20px;

  }

  #btn-agregar-continuar,
  #btn-nuevo-juego {
    /* Button */

    width: 280px;
    height: 67px;

    /* Dark blue/dark-blue-300 */
    background: #0A3871;
    border-radius: 24px;

    margin-bottom: 20px;

  }

  .btn {
    /* Button */

    width: 280px;
    height: 67px;

    /* Dark blue/dark-blue-300 */
    border: 1px solid #0A3871;
    box-sizing: border-box;
    border-radius: 24px;;

    margin-bottom: 20px;

  }

  .text-input {	
    border-radius: .5em;
    border: 1px solid rgba(0, 0, 0, .0);
    display: block;   /* Esto tiró los botonnes a la siguiente línea */
    width: 100%;
    height: 350px;
    background-color: #F3F5FC;
    
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 150%;

    /* identical to box height, or 48px */

    /* Dark blue/dark-blue-300 */
    color: #0A3871;

  }

  .ingresar-palabra > label {
    display: block;

    text-align: start;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;

    /* identical to box height, or 18px */

    /* Gray/gray-400 */
    color: #495057;

    opacity: 0.8;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
    margin-bottom: 10px;
  }

  .jugar {
    width: 100%;
  }

  .jugar > input {
    width: 0px;
    height: 0px;
    background: #F3F5FC;
    color: #F3F5FC;
    border: none;
    margin: 0px;
    padding: 0px;
    outline: none;
  }

  #ahorcado {
    margin-bottom: 15px;
  }

  .oculto {
    display: none;
  }
